a:link {
    color : white;
    text-decoration: none;
  }
  a:visited {
    color : white;
    text-decoration: none;
  }
  a:hover {
    color : gray;
    text-decoration: underline;
  }
  a:active {
    color : gray;
    text-decoration: none;
  }


  .btn-area {margin: 10px;}
  .btn-area button
  {width: 30%;}

  .caption
  {font-size: 15px;}

  .dropdown-item
  { background-color: #1c0009;}

  .dropdown-menu 
  { background-color: #1c0009;}

  .slider{
    width: 640px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: yellow;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: yellow;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: yellow;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}

/**
 * author : velog.io/@___
 * path : ./style.css
 */

 .main_container{
  border: 0px solid;
}

.login_container{
  width: 380px; 
  height: 520px; 
  margin: auto; 
  border-radius: 3px; 
  box-shadow: 0px 0px 20px #000;
}

.form_container{
  width: 300px;
  margin: auto;
}

.form_title_div{
  margin: auto; 
  text-align: center;
}

.form_title_p{
  font-weight: bold; 
  font-size: 22px; 
  display: inline-block; 
  padding-top: 8px;
  color: white;
}

.form_input{
  width: 98%; 
  height: 30px; 
  border: 1px solid; 
  border-radius: 3px; 
  border-color: rgb(17, 11, 11);
}

.form_item_name{
  color: white
;
}

.form_text_alert{
  height: 20px;
}

.form_text_alert_padding{
  padding-bottom: 10px;
}

.form_submit_button{
  width: 100%; 
  height: 44px; 
  background-color: rgb(88, 17, 26); 
  border: 1px; 
  border-radius: 3px; 
  color: white; 
  font-size: 17px; 
  font-weight: 500;
}